# executables, shared libraries, debug info
*.exe
*.mexa64
*.mexmaci64
*.mexw32
*.mexw64
*.exp
*.ilk
*.lib
*.pdb
.zig-cache/
zig-out/
.vscode/
.vs/

# help files
*.html
html/images/

# FMUs
*.fmu

# MATALB and Simulink auto-save files
*.asv
*.autosave

# Distribution files
dist/
*.zip

Thumbs.db
